.buttonPlay {
  background: var(--primary);
  color: var(--white);
  font-size: 14px;
  padding-block: 8px;
  padding-inline: 32px;
  border-radius: 70px;
  border-style: none;
  cursor: pointer;
}
